extends ../shared/template
block content
  .row
    .col-xs-12
      #map
  .row
    .col-xs-12
      table.table.table-striped.table-hover
        thead
          tr
            th Name
            th Start
            th End
            th Latitude
            th Longitude
        tbody
          each vacation in vacations
            tr(data-name=vacation.name, data-lat=vacation.coordinates.lat, data-lng=vacation.coordinates.lng)
              td: a(href='/vacations/#{vacation._id}')= vacation.name
              td= moment(vacation.start).format("MMM Do, YYYY")
              td= moment(vacation.end).format("MMM Do, YYYY")
              td= vacation.coordinates.lat.toFixed(8)
              td= vacation.coordinates.lng.toFixed(8)

block scripts
  script(src='/js/user/vacations.js')
