extends ../shared/template
block content
  .row
    .col-xs-6
      #map
    .col-xs-6
      .row
        .col-xs-12
          #vacation(data-name=vacation.name, data-lat=vacation.coordinates.lat, data-lng=vacation.coordinates.lng)
            .page-header: h1= vacation.name
            table.table
              thead
                tr
                  th Start
                  th End
                  th Latitude
                  th Longitude
                  th Photos
              tbody
                tr
                  td= moment(vacation.start).format("MMM Do, YYYY")
                  td= moment(vacation.end).format("MMM Do, YYYY")
                  td= vacation.coordinates.lat.toFixed(8)
                  td= vacation.coordinates.lng.toFixed(8)
                  td= 5
      .row
        .col-xs-12
          form(method='post', action='/vacations/#{vacation._id}/photos/new')
            .form-group
              label(for='url') Photo URL
              input.form-control#url(type='text', name='url')
            button.btn.btn-success(type='submit') Add Photo

block scripts
  script(src='/js/user/show.js')
